In [2]:
import nltk
import sklearn

print('The nltk version is {}.'.format(nltk.__version__))
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The nltk version is 3.5.
The scikit-learn version is 1.2.2.

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('data1.csv')
df.drop(df.head(9).index,inplace=True)
df.drop(df.tail(3).index,inplace=True)

df.head()

,Year,Day,Time,Days since 3/31,Unnamed: 4,Minutes since midnight on day,Minutes Formatted Number,Minutes since 3/31,Smoothed Global Average Temp of Previous Year (Climate Change Index)
9,1997,5/1/97,7:43 a.m.,31.0,7:43:00,463:00:00,463.00,"45,103.00",0.40
10,1998,4/16/98,6:41 p.m.,16.0,18:41:00,1121:00:00,"1,121.00","24,161.00",0.42
11,1999,4/26/99,2:37 a.m.,26.0,2:37:00,157:00:00,157.00,"37,597.00",0.44
12,2000,4/30/00,6:19 a.m.,30.0,6:19:00,379:00:00,379.00,"43,579.00",0.47
13,2001,5/4/01,1:44 a.m.,34.0,1:44:00,104:00:00,104.00,"49,064.00",0.50

In [5]:
y = df['Minutes since 3/31'].to_numpy()

for i in range(len(y)):
    y[i] = float(y[i].replace(',', ''))
print(y)

[45103.0 24161.0 37597.0 43579.0 49064.0 26898.0 40905.0 31165.0 31130.0
 23960.0 45645.0 37045.0 30141.0 8086.0 40217.0 12565.0 35086.0 42366.0
 42854.0 18304.0 34112.0 49647.0 36339.0 21967.0 15417.0 27651.0]

In [23]:
features = ['tempmax', 'visibility', 'feelslikemax']

printed = False

dfs = []
# 1997 1988
for i in range(1997, 2023 + 1):
    df2 = pd.read_csv('weather/' + str(i) + '.csv')

    if not printed:
        print(df2.head())
        printed = True

    data = []

    for f in features:
        value = np.mean(df2[f])#[-30:])

        if f == 'tempmax':
            value -= 32
            sign = np.sign(value)
            value = abs(value)
            value **= 1/2
            value *= sign
        data.append(value)

        '''for j in range(60, 88):
            value = df2[f][j]

            if f == 'tempmax':
                value -= 32
                sign = np.sign(value)
                value = abs(value)
                value **= 1/2
                value *= sign
            data.append(value)'''

    if i == 2023:
        X_test = data
    else:
        dfs.append(data)

   name    datetime  tempmax  tempmin  temp  feelslikemax  feelslikemin  \
0  5873  1997-01-01     11.7    -11.1  -0.4           8.0         -23.0
1  5873  1997-01-02     23.1     10.5  17.6          22.2          -1.4
2  5873  1997-01-03     32.1     22.2  28.0          28.9          17.0
3  5873  1997-01-04     33.9     27.7  30.1          31.9          24.2
4  5873  1997-01-05     40.8     33.9  37.0          40.8          22.2

   feelslike   dew  humidity  ...  solarenergy  uvindex  severerisk  \
0       -5.0  -9.1      67.0  ...          NaN      NaN         NaN
1       13.9  13.4      83.5  ...          NaN      NaN         NaN
2       25.3  26.7      94.9  ...          NaN      NaN         NaN
3       28.6  27.6      90.6  ...          NaN      NaN         NaN
4       31.1  34.6      91.0  ...          NaN      NaN         NaN

               sunrise               sunset  moonphase            conditions  \
0  1997-01-01T07:25:11  1997-01-01T16:20:09       0.75                 Clear
1  1997-01-02T07:25:13  1997-01-02T16:21:05       0.79        Snow, Overcast
2  1997-01-03T07:25:11  1997-01-03T16:22:02       0.82  Snow, Rain, Overcast
3  1997-01-04T07:25:08  1997-01-04T16:23:01       0.85  Snow, Rain, Overcast
4  1997-01-05T07:25:01  1997-01-05T16:24:01       0.89        Rain, Overcast

                                         description       icon  \
0               Clear conditions throughout the day.  clear-day
1         Cloudy skies throughout the day with snow.       snow
2  Cloudy skies throughout the day with a chance ...       rain
3  Cloudy skies throughout the day with rain or s...       rain
4         Cloudy skies throughout the day with rain.       rain

                  stations
0  72614594705,72617014742
1  72614594705,72617014742
2  72614594705,72617014742
3  72614594705,72617014742
4  72614594705,72617014742

[5 rows x 33 columns]

In [24]:
dfs = np.asarray(dfs)
print(dfs.shape)

(26, 3)

In [25]:
for el in dfs:
    print(el[0], end=',')
    #for a in el:

-1.160938317817867,1.7240134054647644,0.40960685758148524,0.7631628806602061,-1.3844373104863463,1.8538248748645758,-0.9189365834726817,-1.7173964450442274,-1.319090595827294,1.4817407180595252,-1.5405626677721784,-0.4950302466061503,-1.1766241729815208,1.7159383568311664,-1.642153058233813,2.298590107765297,-0.802080627701065,-2.242270674512285,-2.5447112911989747,1.9823396100745023,1.108552609887726,0.8524474568362989,-1.587450786638753,1.7616176382225248,0.9201449161228198,0.4606758320361764,

In [26]:
X = np.array(dfs)

from sklearn.linear_model import HuberRegressor, LinearRegression

print(X.shape)
print(y.shape)

huber = HuberRegressor(max_iter=100).fit(X, y)

(26, 3)
(26,)

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
import sklearn

sklearn.metrics.get_scorer_names()

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_negative_likelihood_ratio',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'positive_likelihood_ratio',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

In [29]:
gs = GridSearchCV(estimator=huber,
             param_grid=
             {'epsilon': [1., 1.1, 1.35, 1.7, 2, 2.25, 2.5, 2.75, 3, 3.25, 3.5, 3.75],
              'alpha': (1e-5, 5e-5, 1e-4, 5e-4, 1e-3, 1e-2),
              'max_iter': (100,)
             })

gs.fit(X, y)
gs.best_params_

{'alpha': 0.01, 'epsilon': 3.75, 'max_iter': 100}

In [35]:
from sklearn.model_selection import cross_val_score

huber = HuberRegressor(alpha=0.01, epsilon=3.75, max_iter=100).fit(X, y)

y_pred = huber.predict(X)

from sklearn.metrics import r2_score

print(r2_score(y, y_pred))

cross_val_score(huber, X, y, scoring='r2')

0.5419898124045186

array([0.19961344, 0.39123052, 0.34369605, 0.7433317 , 0.21508072])

In [36]:
minutes = huber.predict(np.array(X_test).reshape(1, -1))
print(minutes)

[24515.76415625]

In [37]:
days = minutes / 24 / 60
print(days)

[17.02483622]

In [38]:
import math

hour = 24 * (days - math.floor(days))
print(hour)

[0.59606927]

In [34]:
print(X_test)

[1.7776388834631187, 8.242222222222223, 32.21666666666667]